<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="windowWidth" value="960"/>
    <add key="windowHeight" value="720"/>
    <add key="fullScreen" value="false"/>
    <add key="keyUp" value="38"/>
    <add key="keyDown" value="40"/>
    <add key="keyLeft" value="37"/>
    <add key="keyRight" value="39"/>
    <add key="keyA" value="86"/>
    
  </appSettings>
</configuration>